.app {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.title {
  color: var(--dark-grayish-cyan);
  font-size: 2.2rem;
  letter-spacing: 8px;
  margin-bottom: 6rem;
}

.wrapper {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 4rem;
}

.left {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.tipLabel {
  display: block;
  margin-bottom: 0.5rem;
}

.tipBoxes {
  display: grid;
  grid-template-columns: repeat(3, 15rem);
  gap: 1rem;
}

@media screen and (max-width: 1100px) {
  .wrapper {
    grid-template-columns: 1fr;
  }

  section {
    margin: 2rem 0;
  }
}

@media screen and (max-width: 675px) {
  .app {
    width: 100%;
  }

  .tipBoxes {
    grid-template-columns: repeat(2, 1fr);
  }

  .title {
    margin-bottom: 2rem;
  }
}
