@import url("https://fonts.googleapis.com/css2?family=Space+Mono&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%; /* 1rem = 10px */
}

body {
  background-color: var(--light-grayish-cyan);
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  font-family: var(--font);
  font-weight: var(--font-weight);
  font-size: 1.6rem;
  padding: 4rem;
}

p {
  margin: 0;
}

#root {
  width: 100%;
}

@media screen and (max-width: 1100px) {
  body {
    padding: 2.5rem;
  }
}

@media screen and (max-width: 675px) {
  html {
    font-size: 50%;
  }
}
