.labelWrapper {
  display: flex;
  justify-content: space-between;
  font-size: 1.4rem;
  margin-bottom: 0.5rem;
}

.inputIconWrapper {
  border: 2px solid transparent;
  background-color: var(--very-light-grayish-cyan);
  border-radius: 3px;
  padding: 0 1.2rem;
  transition: var(--transition);
}

.validInput {
  border: 2px solid var(--cyan);
}

.invalidInput {
  border: 2px solid var(--error);
}

.error {
  color: var(--error);
}

.input {
  outline: none;
  padding: 0.5rem 0;
  border: none;
  font-size: var(--input-font-size);
  color: var(--dark-cyan);
  font-family: inherit;
  background-color: inherit;
  font-weight: var(--font-weight);
  text-align: right;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
