.resultScreen {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.resultBox {
  display: flex;
  margin-bottom: 2rem;
}

.resultItem {
  display: flex;
  flex-direction: column;
  margin-top: 1.5rem;
}

.resultTitle {
  color: var(--light-grayish-cyan);
}

.resultSubTitle {
  color: var(--dark-grayish-cyan);
}

.resultValue {
  font-size: 5rem;
  color: var(--cyan);
  margin-left: 3rem;
  flex: 1;
  text-align: right;
}

.resetBtn {
  border: none;
  background-color: var(--cyan);
  color: var(--dark-cyan);
  font-family: inherit;
  font-size: 2rem;
  padding: 1rem;
  font-weight: var(--font-weight);
  text-transform: uppercase;
  margin-top: 10rem;
  border-radius: var(--border-radius-small);
  transition: var(--transition);
}

.activeBtn {
  cursor: pointer;
}

.activeBtn:hover {
  background-color: var(--light-grayish-cyan);
}

.desactivatedBtn {
  background-color: var(--dark-grayish-cyan);
}
